@import url("styles/locomotive-scroll.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Clash Display";
  src: url("../src/assets/fonts/clash-display/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 100 1000;
}

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../src/assets/fonts/cabinet-grotesk/CabinetGrotesk.ttf") format("truetype");
  font-weight: 100 1000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
